/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --primary-bg: #F1F5F9;
    --secondary-bg: #F1F5F9;
}

body {
    background-color: var(--secondary-bg);
}

/* Heading Levels */
h1, h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Normal Text */
p {
    font-family: 'Inter', sans-serif;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

main {
    margin-left: 12rem;
    padding: 3rem;
}

/* Main Content Title */
main h1 span {
    color: rgba(120, 134, 215);
}

/*--------------------------------------------------------------
# Add Student Form
--------------------------------------------------------------*/

section {
    background-color: #fff;
    max-width: 48rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-top: 1rem;
    border-radius: 0.375rem;
}

form {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
}

.form-group {
    width: 50%;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
}

.form-group label {
    display: inline-block;
    margin-bottom: .5rem;
    color: rgba(51, 65, 85);
}

.form-group input {
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #e2e8f0;
    line-height: 1.5;
    padding: 0.5rem;
}

/* Submit Button */
form button {
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    background-color: rgba(86, 97, 179);
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: .9rem;
    border: none;
    outline: none;
}